[[local|localrc]]

### SET PASSWORDS FOR SERVICES AND USERS ###
ADMIN_PASSWORD=admin
MYSQL_PASSWORD=mysql
RABBIT_PASSWORD=rabbit
SERVICE_PASSWORD=service
SERVICE_TOKEN=tokentoken

### SET SOME INSTALL OPTIONS ###
# run already-installed devstack in offline mode
#OFFLINE=True

# refresh repos
#RECLONE=yes

# set the size of the stack volume backing file (in MB, default 10250M)
#VOLUME_BACKING_FILE_SIZE=41000M

# Add more images to Glance
# Fedora 20 x64 cloud image - needed on DevStack Icehouse and older
#IMAGE_URLS+=",http://dl.fedoraproject.org/pub/alt/openstack/20/x86_64/Fedora-x86_64-20-20140618-sda.qcow2

### DISABLE/ENABLE INSTALLED SERVICES ###
#
# Default set of components installed (as of DevStack Icehouse) is:
# - Nova with Nova-network
# - Keystone
# - Glance
# - Cinder
# - Heat
# - Horizon

# disable Horizon (Dashboard)
#disable_service horizon

# disable Nova-network and enable Neutron
#disable_service n-net
#enable_service q-svc q-agt q-dhcp q-l3 q-meta q-metering q-lbaas neutron

# enable Sahara
#enable_service sahara

# enable Ceilometer
# metering services
#enable_service ceilometer-acompute ceilometer-acentral ceilometer-anotification ceilometer-collector
# alarming services
#enable_service ceilometer-alarm-evaluator,ceilometer-alarm-notifier
# api services
#enable_service ceilometer-api
