# Basic clients
python-openstackclient # covers Keystone, Nova, Glance, Cinder, Neutron
# clients for other integrated projects
python-heatclient
python-ceilometerclient
python-troveclient
python-saharaclient
#python-swiftclient
#python-ironicclient
# clients for incubated projects
#python-zaqarclient
#python-barbicanclient
#python-kiteclient
#python-designateclient
#python-manilaclient
# clients for other stackforge projects
#python-muranoclient
